<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2>CallMe Click Button</h2>
            <p>CallMeClickButton.com was created at IronHack Paris in 2018.</p>
            <p>Our service is powered by United World Telecom, a reliable US-based service provider since 1996.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <img class="img-fluid" src="https://assets5.domestika.org/job-covers/000/042/275/42275-original.png?1470139349" alt="IronHack" />
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <img class="img-fluid" src="https://cdn.uwtcallback.com/imgs/lg-uwt.png" alt="UWT Callback" />
        </div>
    </div>
</div>
