<div *ngIf="userTruc.currentUser" class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2>Hi Luke {{this.user.fullName}}!</h2>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <p>How can we help you?</p>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 btn">
            <a href="https://www.uwtservices.com/cp/"><button type="button" class="btn btn-primary"><b>Manage my account</b></button></a>
        </div>
    </div>
</div>