<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2>How it works</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            <p>1. We provide a customizable CallMe Button or page that can be inserted into the HTML of your website.</p>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            <p>2. Visitors click the CallMe Button on your site to request a free phone call.</p>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            <p>3. Our service rings one of your sales agents, then automatically places an outbound call in less than 30 seconds to the prospect or customer</p>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            <p>4. Your sales agent is able to engage the website visitor and call records can be integrated with your CRM.</p>
        </div>
    </div>
</div>