<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 sales-copy">
            <h3>Convert website visitors into phone leads</h3>
            <p>Allow customers and prospects to request a free telephone call by clicking a button on your website!</p>
            <div class="button-demo" align="center">
            <a routerLink="/signup" ><button type="button" class="btn btn-primary"><b>Request a demo</b></button></a>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 image" align="center">
            <img class="img-fluid" src = 'https://images.pexels.com/photos/914931/pexels-photo-914931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' alt='phone' /> 
        </div>
    </div>
</div>