<div id="generic_price_table">   
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--PRICE HEADING START-->
          <div class="price-heading clearfix">
            <h1>Plans for every team size</h1>
          </div>
          <!--//PRICE HEADING END-->
        </div>
      </div>
    </div>
    <div class="container">
      <!--BLOCK ROW START-->
      <div class="row">
        <div class="col-md-4">
          <!--PRICE CONTENT START-->
          <div class="generic_content clearfix">
            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">
              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">
                <!--HEAD START-->
                <div class="head_bg"></div>
                  <div class="head">
                    <span>Power</span>
                  </div>
                <!--//HEAD END-->                    
                </div>
                <!--//HEAD CONTENT END-->
                                
        <!--PRICE START-->
        <div class="generic_price_tag clearfix">	
          <span class="price">
          <span class="sign">$</span>
          <span class="currency">200</span>
          <span class="month">/ month</span>
          </span>
        </div>
        <!--//PRICE END-->
                                
      </div>                            
      <!--//HEAD PRICE DETAIL END-->
                            
      <!--FEATURE LIST START-->
      <div class="generic_feature_list">
        <ul>
          <li><span>50</span> Calls per month</li>
          <li><span>120</span> Call history (days)</li>
          <li><span></span>Advanced features included</li>
          <li><span></span> Dedicated Account Management</li>
        </ul>
      </div>
      <!--//FEATURE LIST END-->
                            
      <!--BUTTON START-->
      <div class="generic_price_btn clearfix">
        <a class="" routerLink="/signup">Sign up</a>
      </div>
      <!--//BUTTON END-->
                            
    </div>
    <!--//PRICE CONTENT END-->
                            
  </div>
                    
  <div class="col-md-4">
                    
    <!--PRICE CONTENT START-->
    <div class="generic_content clearfix">
                            
    <!--HEAD PRICE DETAIL START-->
    <div class="generic_head_price clearfix">
                            
    <!--HEAD CONTENT START-->
    <div class="generic_head_content clearfix">
                                
    <!--HEAD START-->
    <div class="head_bg"></div>
    <div class="head">
    <span>Professional</span>
    </div>
    <!--//HEAD END-->
                                    
    </div>
    <!--//HEAD CONTENT END-->
    <!--PRICE START-->
    <div class="generic_price_tag clearfix">	
      <span class="price">
      <span class="sign">$</span>
      <span class="currency">350</span>
      <span class="cent"></span>
      <span class="month">/ month</span>
      </span>
    </div>
    <!--//PRICE END-->
                                
  </div>                            
  <!--//HEAD PRICE DETAIL END-->
                            
    <!--FEATURE LIST START-->
    <div class="generic_feature_list">
      <ul>
          <li><span>125</span> Calls per month</li>
          <li><span>180</span> Call history (days)</li>
          <li><span></span>Advanced features included</li>
          <li><span></span> Dedicated Account Management</li>
      </ul>
      </div>
    <!--//FEATURE LIST END-->
                            
    <!--BUTTON START-->
      <div class="generic_price_btn clearfix">
        <a class="" routerLink="/signup">Sign up</a>
      </div>
    <!--//BUTTON END-->
                            
  </div>

                            
    </div>
      <div class="col-md-4">
        <!--PRICE CONTENT START-->
      <div class="generic_content clearfix">
        <!--HEAD PRICE DETAIL START-->
        <div class="generic_head_price clearfix">
        <!--HEAD CONTENT START-->
        <div class="generic_head_content clearfix">
        <!--HEAD START-->
        <div class="head_bg"></div>
          <div class="head">
          <span>Enterprise</span>
          </div>
        <!--//HEAD END-->
                                    
    </div>
    <!--//HEAD CONTENT END-->
                                
    <!--PRICE START-->
    <div class="generic_price_tag clearfix">	
      <span class="price">
      <span class="sign">$</span>
      <span class="currency">500</span>
      <span class="cent"></span>
      <span class="month">/ month</span>
      </span>
    </div>
    <!--//PRICE END-->
                                
    </div>                            
    <!--//HEAD PRICE DETAIL END-->
                            
    <!--FEATURE LIST START-->
    <div class="generic_feature_list">
      <ul>
          <li><span>200</span> Calls per month</li>
          <li><span>180</span> Call history (days)</li>
          <li><span></span>Advanced features included</li>
          <li><span></span> Dedicated Account Management</li>
      </ul>
    </div>
    <!--//FEATURE LIST END-->
                            
    <!--BUTTON START-->
      <div class="generic_price_btn clearfix">
        <a class="" routerLink="/signup">Sign up</a>
      </div>
    <!--//BUTTON END-->
                            
    </div>
    <!--//PRICE CONTENT END-->
                            
    </div>
    </div>	
    <!--//BLOCK ROW END-->
                
    </div>
        </section>             
    </div>