<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h2>Sign up</h2>
            <p>Please enter your contact details and we will be in touch with you as soon as possible regarding account activation</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <form (ngSubmit)="signupSubmit()">
                <label>
                  <input type="text" [(ngModel)]="signupCreds.fullName" required
                  name="fullName" placeholder="Full name" />
                </label>
              <br />
        
                <label>
                  <input type="text" [(ngModel)]="signupCreds.company" required
                  name="company" placeholder="Company" />
                </label>
              <br />
                <label>
                  <input type="text" [(ngModel)]="signupCreds.email" required
                  name="email" placeholder="Business email" />
                </label>
              <br />
                <label>
                  <input type="text" [(ngModel)]="signupCreds.phoneNumber" required
                  name="phoneNumber" placeholder="Phone number" />
                </label>
              <br />
                <label>
                  <select [(ngModel)]="signupCreds.planType"
                  name="planType">
                    <option selected disabled>Choose a plan</option>
                    <option>Power</option>
                    <option>Professional</option>
                    <option>Enterprise</option>
                  </select>
                </label>
                <br />
                <button class="btn navbar-btn"><b>Submit</b></button>
              </form>
        </div>
    </div>
</div>